<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href='/static/styles.css' />
    <title>Dashboard</title>
</head>
<body>
    <nav class="navbar">
        <div class="navbar-left">
          <a href="/profile" class="navbar-brand">Grab a Cab</a>
        </div>
        <div class="navbar-right">
          <a href="/bookcab" class="navbar-link">Book a Cab</a>
          <a href="/viewrides" class="navbar-link">View History</a>
        </div>
      </nav>


    <h1>Welcome to the Dashboard, {{ name }}!</h1>
    <div>
    <div class="card">
        <form action="/addbalance" method="post">
            <div>Your current balance in wallet is: {{wallet}}</div>
            <input type="number" name="wallet_add" placeholder="Amount in Wallet" required><br><br>
            <input type="submit" value="Add Balance" class = "btn">
        </form>
        <a href="/" class="btn">Logout</a>
    </div>
  </div>
</body>
</html>
